$font = {{ .font }}

general {
    hide_cursor = false
    ignore_empty_input = true
}

# uncomment to enable fingerprint authentication
# auth {
#     fingerprint {
#         enabled = true
#         ready_message = Scan fingerprint to unlock
#         present_message = Scanning...
#         retry_delay = 250 # in milliseconds
#     }
# }

animations {
    enabled = true
    bezier = linear, 1, 1, 0, 0
    animation = fadeIn, 1, 5, linear
    animation = fadeOut, 1, 5, linear
    animation = inputFieldDots, 1, 2, linear
}

background {
    monitor =
    path = screenshot
    blur_passes = 3
}

input-field {
    monitor=
    size=200,50
    check_color=rgb(30, 107, 204)
    dots_center=true
    dots_size=0.200000
    dots_spacing=0.350000
    fade_on_empty=false
    font_color=rgb(111, 45, 104)
    halign=center
    hide_input=false
    inner_color=rgba(0, 0, 0, 0.2)
    outer_color=rgba(0, 0, 0, 0)
    outline_thickness=2
    font_family=$font
    placeholder_text=<i><span foreground="##cdd6f4">Input Password...</span></i>
    position=0, -100
    rounding=-1
    valign=center
}

label {
    monitor=
    color=rgba(242, 243, 244, 0.75)
    font_family=$font
    font_size=95
    halign=center
    position=0, 300
    text=$TIME
    valign=center
}

label {
    monitor=
    color=rgba(242, 243, 244, 0.75)
    font_family=$font
    font_size=22
    halign=center
    position=0, 200
    text=cmd[update:1000] echo $(date +"%A, %B %d")
    valign=center
}
