/* Kanagawa Theme Notification Styles */

* {
  all: unset;
  font-family: JetBrainsMono Nerd Font;
  transition: 0.3s;
  font-size: 1.2rem;
}

.floating-notifications.background .notification-row {
  padding: 1rem;
}

.floating-notifications.background .notification-row .notification-background {
  border-radius: 0.5rem;
  background-color: #1f1f28;
  color: #dcd7ba;
  border: 1px solid #54546d;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification.critical {
  border: 1px solid #e82424;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content
  .summary {
  margin: 0.5rem;
  color: #dcd7ba;
  font-weight: bold;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content
  .body {
  margin: 0.5rem;
  color: #727169;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3rem;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  border-radius: 0.5rem;
  color: #dcd7ba;
  background-color: #2a2a37;
  border: 1px solid #54546d;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  background-color: #363646;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  background-color: #54546d;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button {
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  color: #1f1f28;
  background-color: #e46876;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button:hover {
  color: #dcd7ba;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button:active {
  background-color: #d27e99;
}

.control-center {
  border-radius: 0.5rem;
  margin: 1rem;
  background-color: #1f1f28;
  color: #dcd7ba;
  padding: 1rem;
  border: 1px solid #54546d;
}

.control-center .widget-title {
  color: #e6c384;
  font-weight: bold;
}

.control-center .widget-title button {
  border-radius: 0.5rem;
  color: #dcd7ba;
  background-color: #2a2a37;
  border: 1px solid #54546d;
  padding: 0.5rem;
}

.control-center .widget-title button:hover {
  background-color: #363646;
}

.control-center .widget-title button:active {
  background-color: #54546d;
}

.control-center .notification-row .notification-background {
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  background-color: #2a2a37;
  color: #dcd7ba;
  border: 1px solid #54546d;
}

.control-center .notification-row .notification-background .notification {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.control-center
  .notification-row
  .notification-background
  .notification.critical {
  border: 1px solid #e82424;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content {
  color: #dcd7ba;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .summary {
  margin: 0.5rem;
  color: #dcd7ba;
  font-weight: bold;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .body {
  margin: 0.5rem;
  color: #727169;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3rem;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  border-radius: 0.5rem;
  color: #dcd7ba;
  background-color: #2a2a37;
  border: 1px solid #54546d;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  background-color: #363646;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  background-color: #54546d;
}

.control-center .notification-row .notification-background .close-button {
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  color: #1f1f28;
  background-color: #e46876;
}

.control-center .notification-row .notification-background .close-button:hover {
  color: #dcd7ba;
}

.control-center
  .notification-row
  .notification-background
  .close-button:active {
  background-color: #d27e99;
}

progressbar,
progress,
trough {
  border-radius: 0.5rem;
}

.notification.critical progress {
  background-color: #e82424;
}

.notification.low progress,
.notification.normal progress {
  background-color: #6a9589;
}

trough {
  background-color: #2a2a37;
}

.control-center trough {
  background-color: #54546d;
}

.control-center-dnd {
  margin: 1rem 0;
  border-radius: 0.5rem;
}

.control-center-dnd slider {
  background: #363646;
  border-radius: 0.5rem;
}

.widget-dnd {
  color: #727169;
}

.widget-dnd > switch {
  border-radius: 0.5rem;
  background: #363646;
  border: 1px solid #54546d;
}

.widget-dnd > switch:checked slider {
  background: #7e9cd8;
}

.widget-dnd > switch slider {
  background: #54546d;
  border-radius: 0.5rem;
  margin: 0.25rem;
}
