include "startup.kdl"
include "decorations.kdl"
include "windowrules.kdl"
include "keybinds.kdl"

input {
    keyboard {
        numlock
    }

    touchpad {
        tap
        natural-scroll
    }
}

hotkey-overlay {
    skip-at-startup
    hide-not-bound
}

gestures {
    hot-corners {
        off
    }
}

debug {
  honor-xdg-activation-with-invalid-serial
}
