binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+T { spawn "kitty"; }
    Mod+E { spawn "nautilus"; }
    Mod+Z { spawn "zen-browser"; }

    Mod+W hotkey-overlay-title="Toggle Network Panel" {
        spawn-sh "qs -c noctalia-shell ipc call network togglePanel";
    }

    Mod+I hotkey-overlay-title="Toggle Settings Panel" {
        spawn-sh "qs -c noctalia-shell ipc call settings toggle";
    }

    Mod+M hotkey-overlay-title="Toggle System Monitor" {
        spawn-sh "qs -c noctalia-shell ipc call systemMonitor toggle";
    }

    Mod+X hotkey-overlay-title="Toggle Session Menu" {
        spawn-sh "qs -c noctalia-shell ipc call sessionMenu toggle";
    }

    Mod+V hotkey-overlay-title="Open Clipboard Launcher" {
        spawn-sh "qs -c noctalia-shell ipc call launcher clipboard";
    }

    Alt+Space hotkey-overlay-title="Toggle App Launcher" {
        spawn-sh "qs -c noctalia-shell ipc call launcher toggle";
    }

    Super+Alt+L hotkey-overlay-title="Lock Screen" {
        spawn-sh "qs -c noctalia-shell ipc call lockScreen lock";
    }

    XF86AudioRaiseVolume allow-when-locked=true hotkey-overlay-title="Increase Volume" {
        spawn-sh "qs -c noctalia-shell ipc call volume increase";
    }

    XF86AudioLowerVolume allow-when-locked=true hotkey-overlay-title="Decrease Volume" {
        spawn-sh "qs -c noctalia-shell ipc call volume decrease";
    }

    XF86AudioMute allow-when-locked=true hotkey-overlay-title="Mute Output" {
        spawn-sh "qs -c noctalia-shell ipc call volume muteOutput";
    }

    XF86AudioMicMute allow-when-locked=true hotkey-overlay-title="Mute Microphone" {
        spawn-sh "qs -c noctalia-shell ipc call volume muteInput";
    }

    Alt+Period hotkey-overlay-title="Increase Volume (Alt)" {
        spawn-sh "qs -c noctalia-shell ipc call volume increase";
    }

    Alt+Comma hotkey-overlay-title="Decrease Volume (Alt)" {
        spawn-sh "qs -c noctalia-shell ipc call volume decrease";
    }

    Alt+Slash hotkey-overlay-title="Mute Output (Alt)" {
        spawn-sh "qs -c noctalia-shell ipc call volume muteOutput";
    }

    XF86MonBrightnessUp hotkey-overlay-title="Increase Brightness" {
        spawn-sh "qs -c noctalia-shell ipc call brightness increase";
    }

    XF86MonBrightnessDown hotkey-overlay-title="Decrease Brightness" {
        spawn-sh "qs -c noctalia-shell ipc call brightness decrease";
    }

    XF86AudioNext allow-when-locked=true hotkey-overlay-title="Next Track" {
        spawn-sh "qs -c noctalia-shell ipc call media next";
    }

    XF86AudioPause allow-when-locked=true hotkey-overlay-title="Pause Media" {
        spawn-sh "qs -c noctalia-shell ipc call media pause";
    }

    XF86AudioPlay allow-when-locked=true hotkey-overlay-title="Play Media" {
        spawn-sh "qs -c noctalia-shell ipc call media play";
    }

    XF86AudioPrev allow-when-locked=true hotkey-overlay-title="Previous Track" {
        spawn-sh "qs -c noctalia-shell ipc call media previous";
    }

    Mod+O repeat=false { toggle-overview; }

    Mod+N { focus-workspace-down; }
    Mod+P { focus-workspace-up; }

    Mod+Ctrl+N { move-workspace-down; }
    Mod+Ctrl+P { move-workspace-up; }

    Mod+Shift+N     { move-column-to-workspace-down; }
    Mod+Shift+P     { move-column-to-workspace-up; }

    Mod+Q { close-window; }

    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-window-down; }
    Mod+Shift+K     { move-window-up; }
    Mod+Shift+L     { move-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Ctrl+H     { focus-monitor-left; }
    Mod+Ctrl+J     { focus-monitor-down; }
    Mod+Ctrl+K     { focus-monitor-up; }
    Mod+Ctrl+L     { focus-monitor-right; }

    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }

    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    Mod+C { center-column; }
    Mod+Ctrl+C { center-visible-columns; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+B       { toggle-window-floating; }

    Mod+S { screenshot; }
    Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
}
