window-rule {
    match app-id="zen" title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id="org.gnome.Nautilus" title="Select file to Run"
    open-floating true
}

window-rule {
    match app-id="org.gnome.Nautilus" title="Open Files"
    open-floating true
}

window-rule {
    match app-id="python3" title="Dell G Series Controller"
    open-floating true
}

window-rule {
    match title="winit window"
    open-floating true
}

window-rule {
    variable-refresh-rate true;
}
